@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f4f1de;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .hoverbutton {
    @apply px-5 py-2 border rounded-md cursor-pointer backdrop-blur-2xl;
  }

  .defaulttextcolor {
    @apply text-5xl font-bold text-[#0a0a0a];
  }
  .backgroundchangetextcolor {
    @apply text-5xl font-bold text-[#ffffff] mix-blend-difference;
  }
  .crumbandcave {
    @apply md:py-3 py-2 border rounded-xl px-5 cursor-pointer backdrop-blur-2xl;
  }
  .crumbandcavetextcolorone {
    @apply text-transparent bg-gradient-to-r from-[#FF7E9F] to-[#0051C3] bg-clip-text cursor-pointer;
  }
  .crumbandcavetextcolortwo {
    @apply text-transparent bg-gradient-to-r from-[#02AE16] to-[#000000] bg-clip-text cursor-pointer;
  }
  .webcat {
    @apply px-2 py-1  cursor-pointer text-[#b2b2b2] border-b-3 border-[#0051C3] font-normal;
  }
  .nonwebcat {
    @apply px-2 py-1  cursor-pointer text-[#646464] font-normal;
  }
  .theplaceholder {
    @apply px-2 md:text-[1.5em] text-sm focus:outline-none w-full h-full 
    rounded-2xl cursor-text font-medium;
  }
  .thetransition {
    @apply transition-all duration-300 ease-in-out;
  }
}
